<form action="<%=users_url%>" method="POST">
  <label for="user_name">Username: </label>
  <input type="text" id="user_name" name="user[user_name]">
  <label for="password">Password: </label>
  <input type="password" id="password" name="user[password]">
  <button>Create User</button>
</form>